[Unit]
Description=PWM Fan Controller Service

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/fan_control_service.py
Restart=always
Environment=PYTHONUNBUFFERED=1 DEBUG=false

[Install]
WantedBy=multi-user.target
